<div id="sidebar">
  <p class='author'>About us</p>
  <p>Our mission is to help you protect your data like your credit card protects your money.</p>
  <p>We build <a href="http://mobilesystem7.com/interlock" title="Learn how Interlock can protect your data">Interlock</a>, the worlds most advanced platform for <a href="/blog/post/identity-analytics/" title="What is Identity Analytics?">Identity Analytics</a> and <a href="/blog/post/adaptive-access-control/" title="What is Adaptive Access Control?">Adaptive Access Control</a>.</p>
  <a class='btn btn-block btn-primary btn-large' href="http://www.mobilesystem7.com/test-drive/" title="Try Interlock for free">Try a free Test Drive</a>
  <hr />
  <p class="author">Latest Posts</p>
  {% for post in site.posts offset: 0 limit: 10  %}
  <p><a class="smaller" href="{{ post.url }}">{{ post.title }}</a><br/>
    <small class="author smallest">
      <span class="date">{{ post.date|date_to_string }}</span> - {{ post.author }}
    </small>
  </p>
  {% endfor %}
  <h4 class='muted'><a style="line-height: 32px;" href="/toc.html">All Posts</a></h4>
</div>
