.header i{
  cursor: auto;
}
.container{
  padding-top: 0px;
  max-width: max-width: 960px;
}
.share{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 30px 0;
  margin: 15px 0;
}
.share h3{
  margin: 0;
  line-height: 30px;
}
.share i{
  margin: 0 15px ;
}
.author{
  color: #999;
}
.post{
  margin-top: 25px;
  margin-left: 0px;  
  margin-right: 0px;    
  margin-bottom: 12px;      
  width: 700px;
  float: left;
}
.post h1{
  margin: 15px 0;
}
.post h1 a, .post h2 a{
  color: #333;
}
.post .author{
  margin: 20px 0;
}

.smaller{
  font-size: 0.85em;
}

.smallest{
  font-size: 0.7em;
}

#home{
  width: 700px;
  float: left;
}

#sidebar{
  margin-left: 60px;
  margin-top:  102px;
  float: right;
  width: 200px;
  line-height: 15px;
}
